.manage-menus-container table tr th:nth-child(1),
.manage-menus-container table tr td:nth-child(1) {
    width: 170px;
}

.manage-menus-container table tr th:nth-child(2),
.manage-menus-container table tr td:nth-child(2) {
    width: 170px;
}

.manage-menus-container table tr th:nth-child(3),
.manage-menus-container table tr td:nth-child(3) {
    width: 130px;
}

.manage-menus-container table tr th:nth-child(4),
.manage-menus-container table tr td:nth-child(4) {
    width: 140px;
    text-align: center;
}

.manage-menus-container table tr th:nth-child(5),
.manage-menus-container table tr td:nth-child(5) {
    width: 200px;
}

.manage-menus-container table tr th:nth-child(6),
.manage-menus-container table tr td:nth-child(6) {
    text-align: right;
    width: 130px;
}