.export-excel {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    height: 40px;
    width: 130px;
    background-color: #f5f5f5;
    border: none;
    color: #095D31;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    border-radius: 21px;
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.05), -4px -4px 6px 0 rgba(255, 255, 255, 0.89), 2px 2px 4px 0 rgba(0, 0, 0, 0.05), -2px -2px 4px 0 rgba(255, 255, 255, 0.89);
}

.export-excel img {
    width: 20px;
    height: 18px;
}

.export-excel:active {
    background-color: #d8d7d7;
}