.sidenav {
    background-color: #ffffff;
    padding: 0.4em 0.5em 0.5em 0.5em;
    display: flex;
    flex-direction: column;
}

.sidenav>div {
    margin: 1em 0.5em 1em 1em;
    padding: 0.1em;
}

.zymmo-logo {
    padding-left: 0px !important;
}

.zymmo-logo:hover {
    cursor: pointer;
}

.zymmo-logo img {
    height: 40px;
    width: 40px;
    margin: 0 auto;
}

.nav-item {
    font-size: small;
    font-weight: 500;
    color: rgb(148, 148, 148);
}

.sidenav .nav-item a {
    text-decoration: none;
    display: block;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    color: rgb(148, 148, 148);
}

.sidenav .nav-item .nav-link:hover {
    color: rgb(66, 66, 66);
}

.sidenav .nav-item .nav-link--active {
    color: rgb(41, 41, 41);
}