.zymmo-tag-no {
    margin-left: 0.5em;
    width: 18px;
    height: 14px;
    border-radius: 12px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 12px;
    color: #0E5C50;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.05), -2px -2px 3px 0 rgba(255, 255, 255, 0.89), 1px 1px 2px 0 rgba(0, 0, 0, 0.05), -1px -1px 2px 0 rgba(255, 255, 255, 0.89);
}