.menu-profile-container {
    display: flex;
    flex-direction: column;
    padding: 1em 0.1em 1.1em 0.1em;
    margin: 0.5em;
}

.menu-profile-container .breadcrumbs-container {
    padding: 0.2em;
    margin-top: 0.5em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    display: flex;
    flex-direction: row;
}

.menu-profile-container .breadcrumbs-container>div {
    padding-right: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    font-size: 13px;
    font-weight: 500;
    color: rgb(58, 57, 57);
}

.menu-profile-container .breadcrumbs-container>div:hover {
    cursor: pointer;
}

.menu-profile-container .breadcrumbs-container .fa {
    padding-left: 7px;
    padding-top: 3px;
}

.menu-profile-container .breadcrumbs-container>div:last-child {
    color: #fe4f04;
}

.menu-profile-container .menu-details-section {
    display: flex;
    margin: 0.5em;
    margin-top: 1.5em;
    padding: 1em 0.1em;
}

.menu-profile-container .menu-details {
    flex: 2.8;
    display: flex;
    margin: 0.1em 1em 0.1em 0.1em;
    padding: 1.5em;
    padding-top: 2.5em;
    border-radius: 5px;
    background-color: #F5F5F5;
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.05), -4px -4px 6px 0 rgba(255, 255, 255, 0.89), 2px 2px 4px 0 rgba(0, 0, 0, 0.05), -2px -2px 4px 0 rgba(255, 255, 255, 0.89);
}

.menu-profile-container .orders-databox {
    flex: .2;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    /* margin: 0.2em; */
}

.menu-details>div {
    display: flex;
    flex-direction: column;
}

.menu-details .profile-picture {
    flex: 1;
    justify-items: center;
    align-items: center;
    padding-right: 2em;
    /* border-right: 0.4px solid #CCCCCC; */
    border-right: 1px solid rgba(204, 204, 204, 0.29);
}

.menu-details .profile-picture>div {
    margin-bottom: 0.7em;
}

.menu-details .profile-details {
    flex: 1;
    justify-items: center;
    align-items: left;
}

.menu-details .menu-picture {
    height: 150px;
    width: 150px;
    margin-bottom: 0.8em;
}

.menu-details .menu-name {
    font-size: 25px;
    font-weight: 500;
    color: #313030;
}

.menu-details .menu-row {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
}

.menu-row .fa {
    font-size: 4px;
    color: #313030;
    padding-right: 4px;
}

.menu-details .menu-username {
    font-size: 12px;
    font-weight: 500;
    color: #313030;
    padding-right: 4px;
}

.menu-details .foodie-icon {
    width: 10px;
    height: 10px;
}

.menu-details .added-on {
    font-size: 12px;
    font-weight: 500;
    color: #a3a3a3;
}

.menu-details .block-button {
    height: 30px;
    width: 90px;
    margin-top: 1em;
    background-color: #ebbfbf;
    border: none;
    color: #fe4f04;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    border-radius: 21px;
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.05), -4px -4px 6px 0 rgba(255, 255, 255, 0.89), 2px 2px 4px 0 rgba(0, 0, 0, 0.05), -2px -2px 4px 0 rgba(255, 255, 255, 0.89);
}

.menu-details .block-button:active {
    background-color: #c79e9e;
}

.menu-details .profile-details {
    padding-left: 1.5em;
    padding-right: 1em;
    margin-left: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-items: left;
}

.profile-details>div {
    margin-bottom: 2em;
}

.profile-details>div:last-child {
    margin-bottom: 0.2em;
}

.profile-details .chef-contact>div {
    font-size: 15px;
    font-weight: 500;
    color: #444343;
    margin-bottom: 0.5em;
}

.chef-contact .profile-name .fa {
    font-size: 4px;
    font-weight: 500;
    color: #313030;
    padding-right: 6px;
    padding-left: 6px;
}

.chef-contact .profile-name .profile-username {
    display: flex;
    align-items: center;
}

.profile-details .chef-contact {
    display: flex;
    flex-direction: row;
}

.profile-details .chef-contact .profile-name {
    padding-left: 3%;
}

.profile-details .chef-contact>div i {
    font-size: 12px;
    color: #444343;
    padding-right: 10px;
}

.profile-details .chef-contact .profile-pic {
    height: 36px;
    width: 36px;
}

.profile-details .fa-map-marker {
    padding-left: 2px;
}

.profile-details .zymmo-tags>div {
    font-size: 15px;
    font-weight: 500;
    color: #095d31;
    margin-bottom: 0.5em;
}

.profile-details .zymmo-tags div:first-child {
    margin-bottom: 1em;
}

.profile-details .tagline>div {
    font-size: 13px;
    font-weight: 500;
    color: #444343;
}

.profile-details .tagline>div:first-child {
    margin-bottom: 1em;
}

.menu-profile-container .table-selector-header {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin: 0.5em;
    margin-top: 1em;
    padding: 0.5em 0.5em;
}

.table-selector-header .table-selector {
    width: 200px;
    height: 30px;
    padding-left: 0.5em;
    border-radius: 22px;
    outline: none;
    border: none;
    background-color: #f5f5f5;
    color: #494949;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2.5px;
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.05), -4px -4px 6px 0 rgba(255, 255, 255, 0.89), 2px 2px 4px 0 rgba(0, 0, 0, 0.05), -2px -2px 4px 0 rgba(255, 255, 255, 0.89);
}

.table-selector-header .table-view-all {
    color: #494949;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
}

.table-selector-header .table-view-all:hover {
    cursor: pointer;
}

.table-selector-header .fa {
    font-size: 4px;
    font-weight: 500;
    color: #313030;
    padding-right: 6px;
    padding-left: 6px;
}

.table-selector-header .table-title {
    display: flex;
    align-items: center;
    height: 20px;
    width: 214px;
    color: #313030;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2.8px;
    line-height: 20px;
}

.table-section table th:nth-child(1),
.table-section table td:nth-child(1) {
    width: 240px;
}