.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    padding: 1em 0.1em 1.1em 0.1em;
    margin: 0.5em;
    border-bottom: 0.6px solid #dfdbdb;
}

.header-container>div {
    margin: auto;
    padding: 0.5em;
}

.header-container .header-title {
    flex: 4;
    color: rgb(85, 85, 85);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1.5px;
}